*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 40rem;
    height: 40rem;
    background: url("https://cssanimation.rocks/images/posts/clocks/ios_clock.svg") center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 5px solid black;
    background-size: 88%;
    position: relative;

}

.secs{
    position: absolute;
    top: 50%;
    left: 50%;
    width: .1rem;
    height: 12rem;
    background-color: tomato;
    transform: translateX(-50%);
    transform-origin: 25% 0;
}

.mins{
    position: absolute;
    top: 50%;
    left: 50%;
    width: .3rem;
    height: 9rem;
    background-color: black;
    transform: translate(-50%, -50%);
    transform-origin: 25% 0;
}

.hours{
    position: absolute;
    top: 50%;
    left: 50%;
    width: .5rem;
    height: 6rem;
    background-color: black;
    transform: translate(-50%, -50%);
    transform-origin: 25% 0;
    border-radius: 15px;
}

.dot{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    background-color: black;
    transform: translate(-50%, -50%);
    transform-origin: 25% 0;
    border-radius: 50%;
}